<p style="color: green"><%= notice %></p>

<%= render @additional_service %>


<div>
  <%= link_to "Edit this additional service", edit_additional_service_path(@additional_service) %> |
  <%= link_to "Back to aditional services", additional_services_path %>

  <p>
    <%= button_to "Destroy this additional service", @additional_service, method: :delete %>
  </p>
</div>
