<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div style="color: red">
      <ul>
        <% client.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <p>
      <%= form.label :date_of_birth, style: "display: block" %>
      <%= form.date_field :date_of_birth %>
    </p>
  </div>

  <div>
    <p>
      <%= form.submit %>
    </p>
  </div>
<% end %>
