<h1>Welcome to Pay-TV System</h1>

<ul>
  <h3>Clients</h3>
  <li><%= link_to 'Register Client', new_client_path %></li>
  <li><%= link_to 'Show Clients', clients_path %></li>
</ul>

<ul>
  <h3>Plans</h3>
  <li><%= link_to 'Register Plan', new_plan_path %></li>
  <li><%= link_to 'Show Plans', plans_path %></li>
</ul>

<ul>
  <h3>Additional Services</h3>
  <li><%= link_to 'Register Addon', new_additional_service_path %></li>
  <li><%= link_to 'Show Addons', additional_services_path %></li>
</ul>

<ul>
  <h3>Packages</h3>
  <li><%= link_to 'Register Package', new_package_path %></li>
  <li><%= link_to 'Show Packages', packages_path %></li>
</ul>

<ul>
  <h3>Billings</h3>
  <li><%= link_to 'Show Billings', booklets_path %></li>
</ul>