<%= form_with(model: plan) do |form| %>
  <% if plan.errors.any? %>
    <div style="color: red">
      <ul>
        <% plan.errors.each do |error| %>
          <%= error.full_message %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
